//Variables Colores
// $color_fondo: #A5D6E6;
$color_fondo: radial-gradient(circle, #B0AEAA, #222);
$color_brief_fondo: #A5D6E6;
$color_social_networks: #159219;
$transition_color: #777;

//Cubo Backstage
$color_verde: #25B200;
$color_amarillo: #FEEA00;
$color_naranja: #FF7400;
$color_rojo: #FF0217;
$color_azul: #009DD6;
$color_blanco: #FFFFFF;
$black: #000;

$rubik: $color_verde,$color_amarillo,$color_naranja,$color_rojo,$color_azul,$color_blanco;

//Contact
$color_info: #000;
$long_shadow_color: #ddd;
