//Transiciones
$cube_size: 80px;
$cube_size_400: 40px;
$cube_size_400_: 50px;
$prespectiva: 1000px;

$logo_header_width: 200px;

//Services
$service_cube_size: 220px;

//Gallery
$gallery_pic_size: 240px; 
$pin_size: 40px;

//Customers
$customer_logo_size: 120px; 


//Contact
$social_logo_size: 80px; 

