//Variables Colores
// $color_fondo: #A5D6E6;
$color_fondo: radial-gradient(circle, #B0AEAA, #222);
$color_brief_fondo: #A5D6E6;
$color_social_networks: #159219;
$transition_color: #777;

//Cubo Backstage
$color_verde: #25B200;
$color_amarillo: #FEEA00;
$color_naranja: #FF7400;
$color_rojo: #FF0217;
$color_azul: #009DD6;
$color_blanco: #FFFFFF;
$black: #000;

$rubik: $color_verde,$color_amarillo,$color_naranja,$color_rojo,$color_azul;

//Contact
$color_info: #000;
$long_shadow_color: #ddd;

//Services
$color_service_verde: #67B25D;
$color_service_amarillo: #969000;
$color_service_naranja: #C7693F;
$color_service_rojo: #FF3837;
$color_service_azul: #2F41D4;
$color_service_turkey: #67B5D4;
$color_service_pink: #CE50DE;
// $color_service_blanco: #FFFFFF;