@keyframes logo_header{
	0%{
		opacity: 1;
		transform: translateX(-100%);
	}
	100%{
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes section_dashed{
	0%{
		opacity: 1;
		transform: translateX(-200%);
	}
	100%{
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes gradientAnime{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes sections{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes transitions{
	0%{
		width: 0px;
		height: 0px;
	}
	100%{
		width: 180%;
		height: 350%;
	}
}

@keyframes cubes{
	$percentage: 450px;
	0%{
		transform: perspective($prespectiva)
				   translateY($percentage)
				   rotateY(-100deg)
				   rotateX(-100deg);
	}
	100%{
		transform: perspective($prespectiva)
				   translateY(-$percentage)
				   rotateY(270deg)
				   rotateX(180deg);
	}
}

@keyframes cubesServices{
	$percentage: 300px;
	0%{
		transform: perspective($prespectiva)
				   translateY($percentage)
				   rotateY(-359deg)
				   rotateZ(270deg)
				   rotateX(-280deg);
	}
}

@keyframes transition_viewport{
	0%{
		opacity: 0;
		transform: translateX(100%);
	}
	50%{
		opacity: 1;
		transform: translateX(0%);
	}
	100%{
		opacity: 1;
		transform: translateX(-100%);
	}
}

@keyframes transition_viewport_title{
	0%{
		opacity: 0;
		transform: scale(0)
					 rotateZ(180deg);
	}
	30%{
		opacity: 0;
		transform: scale(.5)
					 rotateZ(180deg);
	}
	100%{
		opacity: 1;
		transform: scale(1)
					 rotateZ(180deg);
	}
}

@keyframes cartel{
	0%{
		transform: translateX(100%);
		opacity: 0;
	}
	20%{
		opacity: 1;
		transform: translateX(0%);
		transform: rotate(15deg);
	}
	40%{
		transform: rotate(-10deg);
	}
	60%{
		transform: rotate(5deg);
	}
	80%{
		transform: rotate(-3deg);
	}
}
@keyframes cartelReverse{
	0%{
		transform: translateX(-100%);
		opacity: 0;
	}
	20%{
		opacity: 1;
		transform: translateX(0%);
		transform: rotate(-15deg);
	}
	40%{
		transform: rotate(10deg);
	}
	60%{
		transform: rotate(-5deg);
	}
	80%{
		transform: rotate(3deg);
	}
}
@keyframes reboteIn{
	0%{
		opacity: 0;
		transform: scale(.3);
	}
	50%{
		transform: scale(1.1);
	}
	70%{
		transform: scale(.8);
	}
}
@keyframes reboteIn2{
	0%{
		opacity: 0;
		transform: translateX(-2000px);
	}
	50%{
		opacity: 1;
		transform: translateX(30px);
	}
	70%{
		transform: translateX(-10px);
	}
}

@keyframes services_cards{
	0%{
		transform: scale(.1);
	}
	80%{
		transform: scale(1.15);
	}
}

@keyframes opacityCube{
	0%{
		opacity: 1;
	}
	80%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes cubeAnimation_A{
	0%{
		@include cubeAPXYZ(0%,85%, 10deg, -15deg, 0deg);
	}
	80%{
		@include cubeAPXYZ(30%,65%, 10deg, -15deg, -10deg);
	}
}
@keyframes cubeAnimation_B{
	0%{
		@include cubeAPXYZ(20%,95%, 10deg, -15deg, 0deg);
	}
	70%{
		@include cubeAPXYZ(70%,95%, 10deg, -15deg, 0deg);
	}
}
@keyframes cubeAnimation_C{
	0%{
		// @include cubeAP(20%,60%,0deg);
		@include cubeAPXYZ(20%,65%, -15deg, 25deg, 0deg);
	}
	70%{
		// @include cubeAP(65%,65%,10deg);
		@include cubeAPXYZ(65%,65%, 5deg, -5deg, 0deg);
	}
}
@keyframes cubeAnimation_D{
	0%{
		@include cubeAP(20%,45%,0deg);
	}
	70%{
		@include cubeAP(85%,35%,-10deg);
	}
}
@keyframes cubeAnimation_E{
	0%{
		@include cubeAP(20%,20%,0deg);
	}
	70%{
		@include cubeAP(75%,19%,-5deg);
	}
}
@keyframes cubeAnimation_F{
	0%{
		@include cubeAP(80%,-10%,-5deg);
	}
	70%{
		@include cubeAP(20%,-10%,10deg);
	}
}
@keyframes cubeAnimation_G{
	0%{
		@include cubeAP(85%,-30%,-10deg);
	}
	70%{
		@include cubeAP(20%,-30%,-5deg);
	}
}
@keyframes cubeAnimation_H{
	0%{
		@include cubeAP(85%,-50%,-10deg);
	}
	70%{
		@include cubeAP(10%,-55%,5deg);
	}
}
@keyframes cubeAnimation_I{
	0%{
		@include cubeAP(95%,-68%,0deg);
	}
	70%{
		@include cubeAP(20%,-72%,0deg);
	}
}
@keyframes cubeAnimation_RA{
	0%{
		@include cubeAPXYZ(0%,-85%,-90deg, 120deg, -180deg);
	}
	70%{
		@include cubeAPXYZ(0%,-80%,-90deg, 120deg, 180deg);
	}
}
@keyframes cubeAnimation_RB{
	0%{
		@include cubeAPXYZ(-5%,-15%,-90deg, -40deg, -20deg);
	}
	70%{
		@include cubeAPXYZ(-2%,-10%,-90deg, 70deg, -30deg);
	}
}
@keyframes cubeAnimation_RC{
	0%{
		@include cubeAPXYZ(80%,-120%,-90deg, 70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(80%,-90%,-90deg, -40deg, -20deg);
	}
}
@keyframes cubeAnimation_RD{
	0%{
		@include cubeAPXYZ(80%,-90%,-90deg, 70deg, -30deg);
	}
	13%{
		@include cubeAPXYZ(80%,-90%,-90deg, 70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(80%,-30%,-90deg, -100deg, -100deg);
	}
}
@keyframes cubeAnimation_RE{
	0%{
		@include cubeAPXYZ(0%,130%,-90deg, 70deg, -30deg);
	}
	25%{
		@include cubeAPXYZ(0%,110%,-90deg, 70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(10%,20%,-90deg, -100deg, -100deg);
	}
}
@keyframes cubeAnimation_RF{
	0%{
		@include cubeAPXYZ(0%,20%,-90deg, -70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(0%,20%,-90deg, 70deg, 30deg);
	}
}
@keyframes cubeAnimation_RG{
	0%{
		@include cubeAPXYZ(-200%,-50%,-45deg, -70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(-200%,-50%,-45deg, -70deg, -30deg);
	}
}
@keyframes cubeAnimation_RH{
	0%{
		@include cubeAPXYZ(200%,-50%,-45deg, -70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(200%,-50%,-45deg, -70deg, -30deg);
	}
}
@keyframes cubeAnimation_RI{
	0%{
		@include cubeAPXYZ(200%,-500%,-45deg, -70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(200%,-500%,-45deg, -70deg, -30deg);
	}
}
@keyframes cubeAnimation_RJ{
	0%{
		@include cubeAPXYZ(200%,-300%,-45deg, -70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(200%,-300%,-45deg, -70deg, -30deg);
	}
}
@keyframes cubeAnimation_RK{
	0%{
		@include cubeAPXYZ(-200%,-300%,-45deg, -70deg, -30deg);
	}
	70%{
		@include cubeAPXYZ(-200%,-300%,-45deg, -70deg, -30deg);
	}
}

@keyframes cubeToLeft{
	0%{
		transform: translateX(0px);
	}
	90%{
		transform: translateX(0px);
	}
}
@keyframes lettersLeft{
	0%{
		@include cubeAP(30%,-300%,0deg);
	}
	90%{
		@include cubeAP(30%,-300%,0deg);
	}
}

@keyframes homeMenu{
	0%{
		opacity: 0;
	}
	90%{
		opacity: 0;
	}
	95%{
		transform: scale(1.1);
	}
}
@keyframes contactMenu{
	0%{
		opacity: 0;
	}
	90%{
		opacity: 0;
		transform: translateX(100vh);
	}
}
@keyframes navBar{
	0%{
		transform: translateX(50px);
	}
	80%{
		transform: translateX(50px);
	}
	90%{
		transform: translateX(-20px)
					scale(1.1);
	}
	100%{
		transform: translateX(0px);
	}
}